<div class="Seller-auth">
    <!--signup if dont have account-->
    <div *ngIf="!showLogin" class="sign-Up">
        <h1>Seller Sign-Up</h1>

        <form #sellerLogin="ngForm" class="common-form" (ngSubmit)="Login(sellerLogin.value)">
            <input  class="form-input" type="Text" ngModel name="name" placeholder="Enter Name"/>

            <input  class="form-input" type="Text" ngModel name="Email"  placeholder="Enter Email"  />

            <input class="form-input"  type="Password"  ngModel name="Password" placeholder="Enter Password"   />

            <button class="form-button">SignUp</button>
            <a class="auth-toggle-link" (click)="OpenLogin()">Already Have Account?Click to Login</a>
        </form>
    </div>


    <!--have acount -seller Login Area -->
    <div *ngIf="showLogin" class="Login">

        <h1>Seller Login</h1>
        <p>{{authError}}</p>
        <form #sellerLogin="ngForm" (ngSubmit)="Login(sellerLogin.value)" class="common-form">

            <input  class="form-input" type="Text" ngModel name="Email"  placeholder="Enter Email"  />

            <input class="form-input"  type="Password"  ngModel name="Password" placeholder="Enter Password"   />

            <button class="form-button">Login</button>
            <a class="auth-toggle-link" (click)="openSignUp()">Don't Have Account?Click to Sign-Up</a>
        </form>
    </div>
</div>