<div class="Seller-auth">
    <div class="sign-Up">
<h1>Seller Sign-Up</h1>

    <form #sellerSignUp="ngForm"  class="common-form" (ngSubmit)="submitForm(sellerSignUp.value)">
    <input class="form-input" type="Text" ngModel name="name" placeholder="Enter Name">
    <input class="form-input"type="Password"ngModel name="Password" placeholder="Enter Password">
    <input class="form-input"type="Text" ngModel name="Email"
    placeholder="Enter Email">
    <button class="form-button">SignUp</button>
</form>
    </div>
</div> 